DEBUG=True
SECRET_KEY=replace-with-a-long-random-secret-key-at-least-32-characters
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=sentraexam
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0
CHANNELS_ENABLED=True
PRE_EXAM_VERIFY_MIN_PERCENT=85
PRE_EXAM_VERIFICATION_REQUIRED=True
GEMINI_ENABLED=False
GEMINI_API_KEY=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@sentraexam.local
DJANGO_SETTINGS_MODULE=config.settings.dev

EXAM_SCHEDULE_BUFFER_MINUTES=0

IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
